@(groups: List[String], center: models.Location)
@main("MapMailer") {
<script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" language="javascript" src="@routes.Assets.at("javascripts/purl.js")"></script>

<script type="text/javascript" language="javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
<script type="text/javascript" language="javascript" src="@routes.Assets.at("javascripts/swag.js")"></script>
<script type="text/javascript" language="javascript" src="@routes.Assets.at("javascripts/selectize.js")"></script>

<script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.js"></script>
<script type="text/javascript" language="javascript" src="@routes.Assets.at("javascripts/leaflet.draw.js")"></script>
<script type="text/javascript" language="javascript" src="@routes.Assets.at("javascripts/leaflet.awesome-markers.js")"></script>
<script type="text/javascript">
    @for(group <- groups) {
    var group@(group.replaceAll("[^a-zA-Z0-9]", "")) = new L.LayerGroup();
    }

    $(function() {
        Swag.registerHelpers(Handlebars);

        jQuery.extend({
            postJSON: function (url, data, callback) {
                return jQuery.ajax({
                    type: "POST",
                    url: url,
                    data: JSON.stringify(data),
                    success: callback,
                    dataType: "json",
                    contentType: "application/json",
                    processData: false
                });
            }
        });

        Handlebars.registerHelper("startWith", function(prefix, str) {
            if ((str != null ? str.indexOf(prefix) : void 0) === 0) {
                return str;
            }
            return prefix + str;
        });

        Handlebars.registerHelper("stripPrefix", function(prefix, str) {
            if ((str != null ? str.indexOf(prefix) : void 0) === 0) {
                return str.substr(prefix.length);
            }
            return str;
        });

        Handlebars.registerHelper("slice", function (array, size, options) {
            if (array && array.length > 0) {
                var buffer = "";
                var len = array.length, i = 0, j = 0;
                while (i < len) {
                    var slice = array.slice(i, i += size);
                    slice.index = ++j;
                    buffer += options.fn(slice);
                }
                return buffer;
            }
            return options.inverse(this);
        });

        L.Circle = L.Circle.extend({
    	    toGeoJSON: function () {
                return L.GeoJSON.getFeature(this, {
                    type: 'Circle',
                    coordinates: L.GeoJSON.latLngToCoords(this.getLatLng()),
                    radius: this.getRadius()
                });
            }
        });

        var mapTiles = L.tileLayer('http://{s}.tile.thunderforest.com/transport/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors. Map style &copy; <a href="http://www.thunderforest.com/">Thunderforest</a>'
        });

        var map = new L.Map('map', {
            center: new L.LatLng(@center.latitude, @center.longitude),
            zoom: 7,
            layers: [mapTiles]
        });

        var overlays = {
            @for(group <- groups) { "@(group)":group@(group.replaceAll("[^a-zA-Z0-9]", "")), }
        };
        L.control.layers({}, overlays).addTo(map);

        var popupOptions = {maxWidth: 460};
        var organisationMarkers = [];
        var personMarkers = [];

        var layerTemplate = Handlebars.compile($("#area-popup").html());
        var organisationPopupTemplate = Handlebars.compile($("#organisation-popup").html());
        var personPopupTemplate = Handlebars.compile($("#person-popup").html());

        var organisationIcon = L.AwesomeMarkers.icon({icon : 'fa-building-o', markerColor : 'cadetblue', prefix: 'fa'});
        var personIcon = L.AwesomeMarkers.icon({icon : 'fa-user', markerColor : 'green', prefix: 'fa'});

        var createMarkerAndAddToLayer = function(party) {
            if (party.organisation) {
                var marker = L.marker([party.location.latitude, party.location.longitude], {icon: organisationIcon});
                if ($.grep(organisationMarkers, function(e){ return e.equals(marker.getLatLng()); }).length == 0) {
                    organisationMarkers.push(marker.getLatLng());
                    marker.bindPopup(L.popup(popupOptions).setContent(organisationPopupTemplate(party)));
                    party.groups.forEach(function(group) { marker.addTo(window['group' + group.replace(/\W/g, '')]); });
                }
                return marker;
            }
            else {
                var marker = L.marker([party.location.latitude, party.location.longitude], {icon: personIcon});
                if ($.grep(personMarkers, function(e){ return e.equals(marker.getLatLng()); }).length == 0) {
                    personMarkers.push(marker.getLatLng());
                    marker.bindPopup(L.popup(popupOptions).setContent(personPopupTemplate(party)));
                    party.groups.forEach(function(group) { marker.addTo(window['group' + group.replace(/\W/g, '')]); });
                }
                return marker;
            }
        };

        var drawnItems = new L.FeatureGroup();
        map.addLayer(drawnItems);

        var drawControl = new L.Control.Draw({
            draw: {
                polyline: false,
                polygon: {
                    showArea: true,
                    allowIntersection: false,
                    drawError: {
                        color: '#e1e100',
                        message: '<strong>Nein!<strong> You can\'t draw an intersecting polygon.'
                    },
                    shapeOptions: {
                        color: '#2F4F4F'
                    },
                    metric: false
                },
                rectangle: true,
                circle: {
                    shapeOptions: {
                        color: '#2F4F4F'
                    },
                    metric: false
                },
                marker: false
            },
            edit: {
                featureGroup: drawnItems
            }
        });
        map.addControl(drawControl);

        map.on('popupopen', function() {
            $('#to').selectize({
                plugins: ['remove_button'],
                onItemRemove: function(value) {
                    $('.email').attr('href', function (i, val) {
                        var emailAddresses = val.substr(12).split(',');
                        emailAddresses.splice($.inArray(value, emailAddresses), 1);
                        return "mailto:?bcc=" + emailAddresses.join(',');
                    });
                }
            });
        });

        var bindPopups = function(layer) {
            if (layer instanceof L.Polygon || layer instanceof L.Circle || layer instanceof L.Rectangle) {
                $.postJSON('/party/search', layer.toGeoJSON(), function(data) {
                    data = data.filter(function(party) {
                        return party.partyId !== $.url().param('partyId')
                    }).sort(function(a, b) {
                        return (a.name === b.name) ? 0 : (a.name > b.name) ? 1 : -1;
                    });

                    data.forEach(function(party) {
                        createMarkerAndAddToLayer(party);
                    });

                    var partyGroupFilter = function(party) {
                        return party.groups.some(function(group) {
                            return map.hasLayer(window['group' + group.replace(/\W/g, '')]);
                        });
                    };

                    layer.bindPopup(L.popup(popupOptions).setContent(layerTemplate(data.filter(partyGroupFilter))));

                    map.on('overlayadd', function(e) {
                        if (layer !== undefined) {
                            layer.bindPopup(L.popup(popupOptions).setContent(layerTemplate(data.filter(partyGroupFilter))));
                        }
                    });

                    map.on('overlayremove', function(e) {
                        if (layer !== undefined) {
                            layer.bindPopup(L.popup(popupOptions).setContent(layerTemplate(data.filter(partyGroupFilter))));
                        }
                    });

                    drawnItems.addLayer(layer);
                }, 'json');
            }
        };

        map.on('draw:created', function(e) {
            bindPopups(e.layer);
        });

        map.on('draw:edited', function(e) {
            e.layers.eachLayer(function (layer) {
                bindPopups(layer);
            });
        });

        new L.Control.Scale({maxWidth: 1200, metric: false}).addTo(map);
        new L.Control.Scale({maxWidth: 600, metric: false}).addTo(map);
        new L.Control.Scale({maxWidth: 300, metric: false}).addTo(map);

        if ($.url().param('partyId')) {
            $.getJSON('/party/' + $.url().param('partyId'),function (party) {
                map.panTo(new L.LatLng(party.location.latitude, party.location.longitude), {animate: false});
                map.setZoom(12);
                var icon = L.AwesomeMarkers.icon({icon: 'fa-bullseye', markerColor: 'red', prefix: 'fa'});
                createMarkerAndAddToLayer(party).setIcon(icon).addTo(map).openPopup();
            }).fail(function () { alert("Can't find contact with id " + $.url().param('partyId')) });
        }
    });
</script>

<script id="person-popup" type="text/x-handlebars-template">
    <strong><span title="{{ join groups ', '}} - {{postcode}}">{{ name }}</span></strong>&nbsp;&nbsp;&nbsp;
    <a href="@play.Play.application().configuration().getString("crm.url")/{{ partyId }}" title="Open in Capsule CRM" target="_blank" class="btn btn-default btn-xs"><i class="fa fa-gear fa-lg"></i></a>
    <a href="mailto:{{ emailAddress }}?bcc=@play.Play.application().configuration().getString("crm.bcc")" title="Email {{ emailAddress }}" target="_blank" class="btn btn-default btn-xs"><i class="fa fa-envelope-o fa-lg"></i></a>
</script>

<script id="organisation-popup" type="text/x-handlebars-template">
    <strong><span title="{{ join groups ', '}} - {{postcode}}">{{ name }}</span></strong>&nbsp;&nbsp;&nbsp;
    <a href="@play.Play.application().configuration().getString("crm.url")/{{ partyId }}" title="Open in Capsule CRM" target="_blank" class="btn btn-default btn-xs"><i class="fa fa-gear fa-lg"></i></a>
    <a href="mailto:{{ emailAddress }}?bcc=@play.Play.application().configuration().getString("crm.bcc")" title="Email {{ emailAddress }}" target="_blank" class="btn btn-default btn-xs"><i class="fa fa-envelope-o fa-lg"></i></a>
    <a href="{{startWith 'http://' website }}" target="_blank" title="Open {{stripPrefix 'http://' website }}" class="btn btn-default btn-xs"><i class="fa fa-external-link fa-lg"></i></a>
</script>

<script id="area-popup" type="text/x-handlebars-template">
    {{#if this}}
    Found <strong>{{ this.length }}</strong> contacts.&nbsp;&nbsp;&nbsp;
    <a href="#" title="Email" class="btn btn-default btn-xs" onclick="$('#emailModal').appendTo('body').modal('show'); return false;"><i class="fa fa-envelope-o fa-lg"></i></a>
    <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Email contacts</h4>
                </div>
                <div class="modal-body">
                    <select id="to" class="form-control" name="to" multiple>
                        {{#each this}}
                        <option value="{{this.emailAddress}}" selected>{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                    {{#slice this 40}}
                        <a href="mailto:?bcc={{#each this}}{{this.emailAddress}},{{/each}}" class="email btn btn-primary" onclick="$(this).toggleClass('btn-primary btn-default');" target="_blank">
                            <i class="fa fa-envelope-o fa-fw"></i>
                            {{#gt ../this.length 40}}
                            Email {{index}}
                            {{else}}
                            Email
                            {{/gt}}
                        </a>
                    {{else}}
                    {{/slice}}
                </div>
            </div>
        </div>
    </div>
    {{else}}
    No contacts found for selected groups.
    {{/if}}
</script>

<body>
    <div id="map"></div>
</body>
}